@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

/* Utilities */
.container {
    height: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Navbar in Header */
#navbar {
    background: #fff;
    height: 100px;
    border-bottom: #f4f4f4 1px solid;
    box-shadow: 1px 1px 10px rgb(188, 188, 188);
}

.navbar.container {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
}

.navbar-title h1 {
    font-size: 40px;
    font-weight: bold;
    color: #1c3b66;
}

.navbar-title h1 span {
    background: #ffb739;
    padding: 3px 10px;
    color: #fff;
}

.navbar-menu {
    list-style: none;
}

.navbar-menu li {
    padding: 10px 15px;
    margin: 0 20px;
    font-weight: bold;
}

#main-section {
    min-height: 100vh;
    width: 100%;
}
/* Calendar */
#calendar {
    max-width: 100%;
    height: 100%;
}

/* Job-Title */
#job-title {
    background: powderblue;
    color: #fff;
    width: 100%;
    padding: 0 10px;
    border-radius: 50px;
    text-align: center;
}

#footer {
    background: #1c3b66;
    height: 150px;
    color: #fff;
}

#footer .footer {
    height: 100%;
}
